**/.idea/
**/ls_volume/
**/venv/
**/.venv/
**/.env
**/.coverage
**/.coveragerc
**/htmlcov
**/.pytest_cache
**/__pycache__
**/report_unit.xml
**/*.zip
**/temp/
**/debug.json
**/.mypy_cache/
**/tmp/
**/.cache/
**/output/
**/cache/
**/build/
**/dist/
